# Create the environment:
# mamba env create -f environment-common.yml 
# or if you really want to use conda
# conda env create -f environment-common.yml
name: ecearth-quests

channels:
  - conda-forge

dependencies:
  - python==3.12
  - cdo
  - python-cdo
  - eccodes
  - ipykernel
  - numpy
  - scipy
  - xarray
  - dask
  - pandas
  - matplotlib
  - netcdf4
  - ruamel.yaml
  - nc-time-axis
  - cftime
  - gsw
  - psutil
  - pip
